{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block body %}
<div class="container my-3 py-4">
    <form action="" method="POST">
        {% csrf_token %}
        <div class="w-50 p-2">
            <fieldset class="form-control">
                <legend class="border-bottom py-3">Reset Password</legend>
                {{ form|crispy }}
            </fieldset>
        </div>
        <div class="w-50 p-2">
            <button class="btn btn-outline-info" type="submit">Request Password Reset</button>
        </div>
    </form>
</div>
{% endblock body %}