{% extends 'base.html' %}
{% block homeactive %}active{% endblock homeactive %}
{% block css %}
<style>
    .container{
        min-height: 88vh;
    }
</style>
{% endblock css %}
{% block body %}
<div class="container-fluid px-0">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/static/img/1.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/static/img/b1.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/static/img/2.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
</div>
<div class="container my-4">
    <div class="row">
        <h2 class="text-center py-3">Why consider choosing us?</h2>
        <div class="col-md-4">  
            <div class="text-center">
                <img src="/static/img/p1.jpg" class="rounded" alt="loading...">
                <div class="my-3">
                    <h5>Coding Articles</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis cum asperiores nostrum! Consequatur in consequuntur, iure tempore porro beatae itaque velit assumenda quibusdam, optio modi quaerat molestiae id! Tenetur consectetur asperiores deleniti.</p>
                </div>
              </div>
        </div>
        <div class="col-md-4">
            <div class="text-center">
                <img src="/static/img/p2.jpg" class="rounded" alt="loading...">
                <div class="my-3">
                    <h5>Free Coding Courses</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis cum asperiores nostrum! Consequatur in consequuntur, iure tempore porro beatae itaque velit assumenda quibusdam, optio modi quaerat molestiae id! Tenetur consectetur asperiores deleniti.</p>
                </div>
              </div>
        </div>
        <div class="col-md-4">
            <div class="text-center">
                <img src="/static/img/p3.jpg" class="rounded" alt="loading...">
                <div class="my-3">
                    <h5>Excellent Services</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis cum asperiores nostrum! Consequatur in consequuntur, iure tempore porro beatae itaque velit assumenda quibusdam, optio modi quaerat molestiae id! Tenetur consectetur asperiores deleniti.</p>
                </div>
                </div>
        </div>
    </div>
</div>
{% endblock body %}